{% extends "index.html" %}


{% block content %}


<form action="" method="post" style="
                height: 80%;
                width: 30%;
                margin-top: 3%;
                margin-left:40%; ">
    <h1>Login:</h1>
  <div class="form-group" >
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control"  placeholder="Username" name="username" value="{{request.form.username }}" id="exampleInputEmail1" aria-describedby="emailHelp" >
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="{{request.form.password }}">
  </div>

  <button type="submit" class="btn btn-dark" value="Login">Login </button>
  {% if error %}
  <small id="emailHelp" class="form-text text-muted"> {{ error }}</small>
</form>

{% endif %}
{% endblock %}